body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*header*/

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 20px 100px;
}
.header-logo {
    font-size: 24px;
    color: #f9faf8;
}
.header-link {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
/*section-one*/

.section-one {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 100px;
}
.hero {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.subtext {
    font-size: 18px;
    color: #e5e7eb;
}
.hero-button {
    background-color: #3882f6;
    font-size: 20px;
    color: #e5e7eb;
    border: 1px solid #3882f6;
    border-radius: 10px;
    padding: 8px 24px;
}
/*Section two*/

.section-two {
    padding: 100px;
}
.information-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 100px;
}
.images {
    display: flex;
    gap: 40px;
    margin: 0 100px;
}
.img-bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.image {
    border: 3px solid #3882f6;
    border-radius: 15px;
}
.img-subtext {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
    margin: 0 5px;
}
/*Section three*/

.section-three {
    padding: 150px 100px;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    background-color: #e5e7eb;
}
.quote {
font-size: 36px;
font-style: italic;
color: #1f2937;
margin: 0px 300px;
text-align: justify;
}
.author {
align-self: flex-end;
margin: 0px 300px;
font-size: 24px;
color: #1f2937;
font-weight: bold;
}


